{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome clos</title>
<link rel="stylesheet" href="static/GP/css/style.css" >
<style>


</style>
</head>
<body>

<br><br><br><br>
<table align="center">
    <tr>
        <th>Qustion</th>
        <th>Learning Outcomes</th>
        <th>Percentage Of Similarity</th>
    </tr>

    <tr>
        <td>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>


</body>
</html>
